/* General */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

img {
    float: right;
}

fieldset {
    overflow: hidden
}

.some-class {
    float: left;
    clear: none;
}

label {
    float: left;
    clear: none;
    display: block;
    padding: 0px 1em 0px 8px;
}

input[type=radio],
input.radio {
    float: left;
    clear: none;
    margin: 2px 0 0 2px;
}


/* General */
/* Layout */

.layout-Login {
    font-size:inherit;
}

/* Layout */
/* Footer */
.pinFooter {
    background-color: white;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}

/* Footer */
/* Index */

.index-Brief {
    text-align: center;
}

/* Index */
/* About */

.about-Title {
    text-align: center;
}

.content:before {
    content: ' ';
    display: table;
    width: 10em;
}

p:before {
    content: "";
    width: 10em;
    display: block;
    overflow: hidden;
    clear: left;
}

.carousel-inner img {
    height: 32rem;
    width: auto; /* or 100% */
}

/* About */
/* Login */

.login-Login {
    font-size: inherit;
}

/* Login */
/* Book Appointments */



/* Book Appointments */