@model TCC_PUC_Tech_Barbershop.Admin.Models.Usuario

@{
    ViewData["Title"] = "Entrar";
}

@using (Html.BeginForm("LoginUsuario", "Login", FormMethod.Post))
{
    <form id="formLogin" method="post" action="/Login/LoginUsuario">
        <h2>Login</h2>

        <div class="align-content-center">
            <label for="exampleInputUsuario">Usuário</label>
            <input type="text" class="form-control" id="exampleInputUsuario" placeholder="Usuário" name="Login">

            <label for="exampleInputPassword1">Senha</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha" name="Senha">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <br />

            <div class="d-flex justify-content-center">
                <button type="reset" class="btn btn-secondary">Limpar</button>
                <a class="link text-dark" asp-area="" asp-controller="Login" asp-action="Autenticar">
                    <button type="submit" class="btn btn-primary mx-2">Entrar</button>
                </a>
            </div>
        </div>
    </form>
}
