@{
    ViewData["Title"] = "Sobre";
}

<div class="About-Text">

    <h1>Bem-vindo à Tech Barbershop</h1>

    <img src="~/lib/img/about/Barber-About.png" width="620" height="370" />

    <p class="content">
        Aqui, a tradição e a elegância se encontram. Desde a nossa fundação, temos como objetivo oferecer a melhor experiência em cuidados masculinos, proporcionando um ambiente acolhedor e um serviço personalizado aos nossos clientes.
        <br /><br />
        Nosso time de barbeiros experientes está sempre pronto para garantir que cada cliente saia da nossa barbearia sentindo-se bem consigo mesmo e com a sua aparência impecável. Utilizamos apenas os melhores produtos de qualidade para cuidar do seu cabelo e barba, garantindo que cada corte seja preciso e feito com o máximo cuidado e atenção aos detalhes.
        <br /><br />
        Nosso ambiente acolhedor oferece uma experiência única e descontraída. Desde a decoração vintage até a trilha sonora cuidadosamente selecionada, tudo foi pensado para que você se sinta em casa e possa relaxar enquanto nossos barbeiros trabalham sua magia.
        <br /><br />
        Não importa se você precisa de um corte de cabelo clássico ou um tratamento de barba completo, nossa equipe está pronta para atender às suas necessidades e superar suas expectativas. Na nossa barbearia, a sua satisfação é a nossa prioridade.
        <br /><br />
        Agradecemos a sua visita ao nosso site e esperamos poder recebê-lo pessoalmente em nossa barbearia. Não hesite em entrar em contato conosco para agendar seu próximo corte ou para obter mais informações sobre nossos serviços. Estamos ansiosos para vê-lo em breve!
        <br />
    </p>

</div>

