@model TCC_PUC_Tech_Barbershop.Admin.Models.Usuario
<div class="row">
    @foreach (var usuario in Model.Barbeiros)
    {
        <div class="col-md-4">
            <!-- Isso define o tamanho da coluna, ajuste conforme necessário -->
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">@usuario.Informacoes.Nome</h5>
                    <h6 class="card-subtitle mb-2 text-muted">@usuario.Endereco.Bairro</h6>
                    <p class="card-text">@usuario.Informacoes.Descricao</p>
                    <a href="#" class="btn btn-primary">Agendar</a>
                    <a href="#" class="btn btn-secondary">Visualizar Perfil</a>
                </div>
            </div>
        </div>
    }
</div>